{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/templates/home.css' %}">
{% endblock %}

{% block content %}
  <main>
    <section class=" bg-img bg-img1 w-100 h-100 top-0 left-0 d-flex flex-column align-items-start justify-content-center text-light" style="min-height: 100vh;">
      <h1 class="position-absolute fs-2 text-decoration-underline " style="top: 60px; left: 50px;">United Code Lab</h1>
      <!-- <img src="./components/logo.html" alt="Logo United Code Lab" class="position-absolute top-0 start-0"> -->
      <p class="lead fs-1 fw-bold">Sua Dúvida <br> Tem Solução</p>
      <p class="lead fs-1">
        <button class="btn btn-lg btn-secondary">Faça uma pergunta</button>
      </p>
    </section>

    <section class="bg-img bg-img2 w-100 h-100 top-0 left-0 d-flex flex-column align-items-end justify-content-center px-5 text-light text-end" style="min-height: 100vh;">
      <h2>A importância de um fórum sobre programação</h2>
      <p>
        Por meio dessa ferramenta, os alunos compartilham dúvidas, <br> ajudam uns aos outros e constroem uma comunidade.
        <br> É um momento de troca de ideias e interação.  
      </p>
    </section>
      
  </main>
{% endblock %}