{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/templates/home.css' %}">
{% endblock %}

{% block content %}
  <main>
    <section class="bg-img1 overlay d-flex flex-column align-items-start justify-content-center px-3 text-light">
      <h1 class="fs-2 text-decoration-underline">United Code Lab</h1>
      <p class="lead fs-1 fw-bold">Sua Dúvida <br> Tem Solução</p>
      <p class="lead">
        <button class="btn btn-lg btn-secondary">Faça uma pergunta</button>
      </p>
    </section>

    <section class="bg-img2 overlay d-flex flex-column align-items-end justify-content-center px-3 text-light text-end">
      <h2>A importância de um fórum sobre programação</h2>
      <p>
        Por meio dessa ferramenta, os alunos compartilham dúvidas, <br> ajudam uns aos outros e constroem uma comunidade.
        <br> É um momento de troca de ideias e interação.  
      </p>
    </section>
      
  </main>
{% endblock %}