{% load static %}
{% block "../static/css/components/footer.css" %}
  <link rel="stylesheet" href="../static/css/components/footer.css">
{% endblock %}


<footer class="w-100 d-flex justify-content-center">
  <div class="footer-container w-75 bottom-0 d-flex position-absolute aling-items-center justify-content-between rounded-top-4">
    <div class="footer_text d-flex gap-5 ms-3 fs-5">
      <a href="#" class="links light-link d-flex align-items-center text-decoration-none">
          <p class="m-0">Quem somos</p>
      </a>
      <a href="#" class="links light-link d-flex align-items-center text-decoration-none">
          <p class="m-0">Termos de uso</p>
      </a>
      <a href="#" class="links light-link d-flex align-items-center text-decoration-none">
          <p class="m-0">Colaboradores do UCL</p>
      </a>
      <a href="#" class="links light-link d-flex align-items-center text-decoration-none"> 
          <p class="m-0">Dê-nos seu feedback</p>
      </a>
    </div>
    <div class="social_medias d-flex align-items-center gap-4 ">
      <a class="light-link" href="#"><i class="fa-brands fa-instagram fa-2xl text-decoration-none"></i></a>
      <a class="light-link" href="#"><i class="fa-brands fa-linkedin fa-2xl text-decoration-none"></i></a>
      <a class="light-link" href="#"><i class="fa-brands fa-x-twitter fa-2xl text-decoration-none"></i></i></a>
      <a class="light-link" href="#"><i class="fa-brands fa-whatsapp fa-2xl text-decoration-none"></i></a>
    </div>
  </div>
</footer>