{% load static %}
{% block "../static/css/components/footer.css" %}
    <link rel="stylesheet" href="../static/css/components/footer.css">
{% endblock %}


<footer class="w-100 d-flex justify-content-center">
    <div class="w-75">
        <div id="footer_text">
            <a href="#" class="links d-flex align-items-center">
                <p class="m-0">Quem somos</p>
            </a>
            <a href="#" class="links d-flex align-items-center">
                <p class="m-0">Termos de uso</p>
            </a>
            <a href="#" class="links d-flex align-items-center">
                <p class="m-0">Colaboradores do UCL</p>
            </a>
            <a href="#" class="links d-flex align-items-center"> 
                <p class="m-0">Dê-nos seu feedback</p>
            </a>
        </div>
        <div id="social_medias">
            <a href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter fa-2xl"></i></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
        </div>
    </div>
</footer>