<header>
  <nav class="navbar border-bottom border-body bg-black" data-bs-theme="dark">
    <div class="container-fluid mt-n1 " style="justify-content: space-around;">
      <button class="navbar-brand" style="background-color: transparent; border: 0px;" >
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" >
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <form class="d-flex" role="search">
        <div class="input-container">
          <input class="form-control me-2 search rounded-pill" type="search" placeholder="Procurar" style="width: 400px;">
        </div> 
        <label>
          <i class="fa-solid fa-magnifying-glass position-absolute top-50 start-50 translate-middle" style="color: #ffffff; margin-left: 190px;"></i>
        </label>
      </form>
      <a href="#">
        <img width="48" height="48" src="https://img.icons8.com/material/48/FFFFFF/user-male-circle--v1.png" alt="user-male-circle--v1" />
      </a>
    </div>
  </nav>
</header>