{% extends 'base.html' %}

{% block content %}
  <main class="d-flex flex-column align-items-start justify-content-center px-3">
    <div class="bg-img position-relative">
      <div class="overlay">
        <h1 class="fs-2 text-decoration-underline">United Code Lab</h1>
        <p class="lead fs-1 fw-bold">Sua Dúvida <br> Tem Solução</p>
        <p class="lead">
          <button class="btn btn-lg btn-secondary">Faça uma pergunta</button>
        </p>
      </div>
    </div>
  </main>
{% endblock %}