{% load static %}
{% block "../../static/css/components/feed.css" %}
  <link rel="stylesheet" href="../../static/css/components/feed.css">
{% endblock %}
{% include "base.html" %}


<div class="container text-center justify-content-between">
    <div class="row">
        <div class="col ">
          <ul class=" justify-content-around">
            <li> <a href="#" target="_self" rel="next" class="text-white text-decoration-none"> Início</li>
            <li> <a href="#" target="_self" rel="next" class="text-white text-decoration-none"> Tópicos</li>
            <li> <a href="#" target="_self" rel="next" class="text-white text-decoration-none"> Configurações</li>
            <li> <a href="#" target="_self" rel="next" class="text-white text-decoration-none"> Termos de uso</li>
            <li> <a href="#" target="_self" rel="next" class="text-white text-decoration-none"> Quem somos</li>
            <li> <a href="#" target="_self" rel="next" class="text-white text-decoration-none"> Dê-nos seu feedback</li>
            <li> <a href="#" target="_self" rel="next" class="text-white text-decoration-none"> </li>
          </ul>
        </div>
        <div class="col feed">

          <ul class="d-flex justify-content-around">
            <li><a href="#" target="_self" rel="next" class="text-white text-decoration-none">Relevantes</a></li>
            <li><a href="#" target="_self" rel="next" class="text-white text-decoration-none">Top</a></li>
            <li><a href="#" target="_self" rel="next" class="text-white text-decoration-none">Recentes</a></li>
          </ul>

        </div>
        <div class="col for_you">
          3 of 3
        </div>
      </div>
</div>