{% load static %}
{% block "../static/css/components/footer.css" %}
  <link rel="stylesheet" href="../static/css/components/footer.css">
{% endblock %}


<footer class="w-100 d-flex justify-content-center">
  <div class="footer-container w-75 d-flex gap-3 aling-items-center rounded-top-4 flex-wrap">
    <div class="footer-text d-flex gap-5 fs-5 flex-wrap">
      <a href="#" class="links light-link d-flex align-items-center text-decoration-none">
          <p class="m-0">Quem somos</p>
      </a>
      <a href="#" class="links light-link d-flex align-items-center text-decoration-none">
          <p class="m-0">Termos de uso</p>
      </a>
      <a href="#" class="links light-link d-flex align-items-center text-decoration-none">
          <p class="m-0">Colaboradores do UCL</p>
      </a>
      <a href="#" class="links light-link d-flex align-items-center text-decoration-none"> 
          <p class="m-0">Dê-nos seu feedback</p>
      </a>
    </div>
    <div class="social-medias d-flex align-items-center gap-4">
      <a class="light-link" href="#"><i class="fa-brands fa-instagram fa-2xl text-decoration-none"></i></a>
      <a class="light-link" href="#"><i class="fa-brands fa-linkedin fa-2xl text-decoration-none"></i></a>
      <a class="light-link" href="#"><i class="fa-brands fa-x-twitter fa-2xl text-decoration-none"></i></i></a>
      <a class="light-link" href="#"><i class="fa-brands fa-whatsapp fa-2xl text-decoration-none"></i></a>
    </div>
  </div>
</footer>