<header>
  <nav class="navbar border-bottom border-body bg-black" data-bs-theme="dark">
    <div class="container-fluid px-5 first-div-nav">
      <button class="navbar-brand bg-transparent border-0 m-0" id="open-side-bar">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" >
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <form class="d-flex position-relative w-25 search-form" role="search">
        <div class="input-container w-100">
          <input class="form-control me-2 search rounded-pill" type="search" placeholder="Procurar">
        </div> 
        <label>
          <a href="#"><i class=" h-100 d-flex align-items-center fa-solid fa-magnifying-glass position-absolute top-50 translate-middle color text-white img-lupa" style="right: 20px;"></i></a>
        </label>
      </form>
      <a href="#">
        <img width="48" height="48" src="https://img.icons8.com/material/48/FFFFFF/user-male-circle--v1.png" alt="user-male-circle--v1" />
      </a>
    </div>
    
    <aside class="offcanvas offcanvas-start justify-content-space-between d-flex collapse container" id="side-bar" style="box-shadow: 0px 0px 100vw black">
      <div>
        <div class="offcanvas-header px-3 py-4">
          <h5 class="offcanvas-title col-md-auto px-3" id="offcanvasLabel">United Code Lab</h5>
          <button type="button" class="btn-close position-absolute right-10" style="right: 2rem;" id="close-side-bar"></button>
        </div>
        <hr class="border border-primary border-1 border-secondary opacity-50 m-0">
        <div class="offcanvas-body">
          <ul class="d-flex flex-column p-3 px-0 gap-2" style="list-style: none;">
            <li class="fs-5 g-col-6 dark-link rounded">
              <a href="/" class="w-100 d-block px-3 py-2 text-decoration-none link-light">Início</a>
            </li>
            <li class="fs-5 g-col-6 dark-link rounded">
              <a href="#" class="w-100 d-block px-3 py-2 text-decoration-none link-light">Recentes</a>
            </li>
            <li class="fs-5 g-col-6 dark-link rounded">
              <a href="#" class="w-100 d-block px-3 py-2 text-decoration-none link-light">Relevantes</a>
            </li>
            <li class="fs-5 g-col-6 dark-link rounded">
              <a href="#" class="w-100 d-block px-3 py-2 text-decoration-none link-light">API</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-100">
      <hr class="border border-primary border-1 border-secondary opacity-50 w-100">
      <div class="d-flex justify-content-center p-3 gap-1">
        <div>
          <i class="fa-regular fa-user m-1"></i> 
        </div>
          <p>user123</p> <i class="fa-solid fa-chevron-down m-1"></i>
      </div>
    </aside> 
  </nav>
</header>

{% block extra_js %}
  <script src="../static/javascript/components/header.js">
  </script>
{% endblock %}

